.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-kFiUlxXtv_bQZB);
  min-width: 0;
  min-height: 0;
}
.rootglobal_theme_dark {
  background: var(--token-Q1vHSvA90vl_vV);
}
.appTitle {
  position: relative;
  width: auto;
  height: auto;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-size: 100px;
  color: var(--token-cPgd4gOd2HSNaS);
}
.appTitleglobal_theme_dark {
  color: var(--token-giqCCgIkeApVKm);
}
.freeBox__x3UdF {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  align-self: auto;
  width: 550px;
  height: auto;
}
.freeBoxglobal_theme_dark__x3UdFn2V9C {
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
}
.appBody {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  width: 550px;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
  z-index: 1;
  background: var(--token-nhgcuwFzVNqtR3);
}
.appBodyglobal_theme_dark {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-JCVBSqnR9UQeZV);
}
.header:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.headerstate_empty:global(.__wab_instance) {
  width: auto;
  align-self: stretch;
}
.tasksContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.task:global(.__wab_instance) {
  align-self: stretch;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: auto;
  align-self: stretch;
  height: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.fakeStack {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  z-index: -1px;
  margin-top: -4px;
  background: rgba(68, 192, 255, 0);
}
.freeBox__cKqbB {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  width: auto;
  height: 10px;
  right: 10px;
  background: var(--token-nhgcuwFzVNqtR3);
}
.freeBoxglobal_theme_dark__cKqbBn2V9C {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-JCVBSqnR9UQeZV);
}
.freeBox__voch3 {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 5px;
  top: 0px;
  width: auto;
  right: 5px;
  height: 10px;
  z-index: -1px;
  background: var(--token-nhgcuwFzVNqtR3);
}
.freeBoxglobal_theme_dark__voch3N2V9C {
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  background: var(--token-JCVBSqnR9UQeZV);
}
